## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100),k=80)
print(sample_list_1)

[5, 61, 6, 92, 25, 53, 41, 83, 64, 22, 13, 75, 47, 62, 68, 97, 31, 78, 7, 96, 3, 18, 39, 1, 15, 66, 67, 27, 94, 55, 2, 81, 65, 20, 71, 46, 21, 33, 79, 56, 70, 50, 37, 32, 88, 58, 89, 45, 51, 63, 19, 85, 17, 8, 24, 42, 86, 52, 44, 4, 87, 91, 82, 59, 35, 57, 54, 36, 74, 93, 73, 72, 28, 16, 10, 43, 12, 38, 77, 80]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2 = []

for rand in range(80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)

[90, 23, 93, 91, 99, 87, 8, 69, 90, 68, 56, 47, 5, 83, 88, 30, 90, 46, 15, 56, 99, 11, 22, 6, 22, 81, 75, 98, 28, 62, 37, 41, 11, 2, 61, 58, 9, 15, 82, 52, 64, 11, 83, 76, 67, 89, 51, 50, 51, 10, 4, 73, 44, 33, 84, 99, 85, 43, 11, 0, 43, 95, 62, 9, 44, 24, 31, 28, 68, 10, 4, 71, 67, 5, 36, 33, 25, 88, 26, 29]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2 = set(sample_list_2)

print(len(set2))

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
temp =[]

for i in set1:
    if i in set2:
        pass
    else:
        temp.append(i)

In [9]:
set3 = set(temp)
print(set3)

{1, 3, 7, 12, 13, 16, 17, 18, 19, 20, 21, 27, 32, 35, 38, 39, 42, 45, 53, 54, 55, 57, 59, 63, 65, 66, 70, 72, 74, 77, 78, 79, 80, 86, 92, 94, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [10]:
# Your code here
temp2 = []

for i in set2:
    if i in set1:
        pass
    else:
        temp2.append(i)

In [11]:
set4 = set(temp2)
print(set2)

{0, 2, 4, 5, 6, 8, 9, 10, 11, 15, 22, 23, 24, 25, 26, 28, 29, 30, 31, 33, 36, 37, 41, 43, 44, 46, 47, 50, 51, 52, 56, 58, 61, 62, 64, 67, 68, 69, 71, 73, 75, 76, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 93, 95, 98, 99}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [12]:
# Your code here
temp3 = []

for i in set1:
    if i in set2:
        temp3.append(i)
    else:
        pass

In [13]:
set5 = set(temp3)
print(set5)

{2, 4, 5, 6, 8, 10, 15, 22, 24, 25, 28, 31, 33, 36, 37, 41, 43, 44, 46, 47, 50, 51, 52, 56, 58, 61, 62, 64, 67, 68, 71, 73, 75, 81, 82, 83, 85, 87, 88, 89, 91, 93}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [14]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
56
38
14
42

#### Create an empty set called `set6`.

In [15]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [17]:
# Your code here
set6.update(set3,set5)
print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 27, 28, 31, 32, 33, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97}

#### Check if `set1` and `set6` are equal.

In [18]:
# Your code here
if set1 == set6:
    print("Equal")
else:
    print("Not equal")

Equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [19]:
# Your code here
set1.issubset(set2)

False

In [20]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [21]:
# Your code here
set345 = set()

print(set345.union(set3,set4,set5))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [22]:
set12 = set()
print(set12.union(set1,set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [23]:
if set345 == set12:
    print("Equal")
else:
    print("Not equal")

Equal

#### Using the `pop` method, remove the first element from `set1`.

In [24]:
# Your code here
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [25]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for rem in list_to_remove:
    if rem in set1:
        set1.remove(rem)
        
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 24, 25, 27, 28, 32, 33, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 82, 83, 85, 86, 87, 88, 92, 93, 94, 96, 97}

In [26]:
len(set1)

66